<div class="container">

    <p>This is the partial for view 1.</p>

    <button ng-click="vm.sendGet()">Teste de Requisição GET</button>

    <br>

	<div ng-repeat="data in vm.data">
		<ul>
			<li>Nome: {{data.name}}</li>
			<li>Numero: {{data.number}}</li>
			<li>Bandeira: {{data.brand}}</li>
			<li>Data de Vencimento: {{data.exp_month}}/{{data.exp_year}}</li>
			<li>Limite disponível: {{data.available_limit}}/{{data.limit}}</li>
		</ul>
		<button data="{{data.id}}" ng-click="vm.editCard(data.id)">Edit</button>
		<button data="{{data.id}}" ng-click="vm.deleteCard(data.id)">Delete</button>
	</div>

</div>